<div id="divList">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome da Categoria</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in ViewBag.Usuarios)
            {
                <tr>
                    <td scope="col">@usuario.Id</td>
                    <td>@usuario.Nome</td>
                    <td>@usuario.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>